.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.errordisplay {
    text-align: center;
}

.card {
    display: block;
    justify-content: center;
    text-align: center;
}